$background-color: #2da780;
$background-image: url(../../../assets/images/neural_network.png);


main{
  background-color: $background-color;
  background-size: cover;
  background-image: $background-image ;
  height: 1000px;
  width: 100%;
}

a{
  text-decoration: none;
}
