.filter .ng-star-inserted{
  width:0;
}
.ng-trigger.ng-trigger-overlayAnimation.ng-tns-c67-6.p-datepicker.p-component.ng-star-inserted {
  min-width: 260px;
}

.true-icon {
  color: #256029;
}

.false-icon {
  color: #c63737;
}

