<main>
  <div class="grid justify-content-center">
    <p-card class="col-11 sm:col-10 md:col-6 lg:col-4">
      <div class="flex flex-column">
        <a
          pButton
          type="button"
          icon="pi pi-arrow-left"
          iconPos="left"
          class="back p-button-secondary p-button-text p-button-rounded p-button-raised"
          href="/jobs"
        ></a>
          <span class="p-float-label">
            <input class="{{validate.name ? '' : 'ng-invalid ng-dirty'}}" type="text" pInputText [(ngModel)]="name" >
            <label for="float-input">Nome</label>
          </span>
          <p-dropdown
            class="{{userVisible?'dropdown':'unvisible'}} {{validate.userId ? '' : 'ng-invalid ng-dirty'}}"
            styleClass=".dropdown"
            autoWidth="false"
            [style]="{'width':'100%'}"
            [options]="users"
            [(ngModel)]="selectedUser"
            optionLabel="name"
            optionValue="id"
            emptyMessage="Sem resultados"
            emptyFilterMessage="Sem resultados"
            [filter]="true"
            placeholder="Selecione um usuário"
            ></p-dropdown>
          <p-checkbox class="checkbox" label="Ativo" value="active" [(ngModel)]="status"></p-checkbox>
          <p-dropdown class="dropdown" [options]="types" (onChange)="changePeriod()" [(ngModel)]="selectedType" optionLabel="name" optionValue="id"></p-dropdown>
          <span class="p-float-label">
            <input class="{{validate.recurrenceValue ? '' : 'ng-invalid ng-dirty'}}" type="text" pInputText [(ngModel)]="recurrenceValue" >
            <label for="float-input">Valor da recorrência</label>
          </span>
          <span class="{{byPeriod ? 'p-float-label' : 'unvisible'}}">
            <input class="{{validate.recurrencePeriod ? '' : 'ng-invalid ng-dirty'}}" type="text" pInputText [(ngModel)]="period" >
            <label for="float-input">Periodo da recorrência (minutos)</label>
          </span>
          <span class="{{byPeriod ? 'unvisible' : 'p-float-label'}} ">
            <p-inputMask class="{{validate.recurrencePeriod ? '' : 'ng-invalid ng-dirty'}}" mask="99:99" characterPattern="[А-Яа-я]" styleClass="mask" [(ngModel)]="period"></p-inputMask>
            <label for="float-input">Hora da recorrência</label>
          </span>
          <button pButton type="button" label="{{button}}" (click)="setJob()" ></button>
      </div>
    </p-card>
  </div>
</main>
<p-toast class="top-center"></p-toast>
<div [className]="loading ? 'loading flex justify-content-center align-items-center' : 'loading unvisible'">
  <p-progressSpinner></p-progressSpinner>
</div>
